.aboutSection {
  color: var(--foreground);
  background: transparent; /* Para que usen el fondo global */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: auto; /* Permite que el contenido determine la altura */
  text-align: left;
  gap: 2rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100vw;
  padding: 4rem 1rem; /* Reduce espacios excesivos */
  margin-bottom: clamp(2rem, 5vh, 4rem); /* Margen din치mico */
   
  /* Ajuste responsivo para pantallas m치s peque침as */
  @media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}

/* Contenedor de la imagen */
.aboutImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.aboutImage {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Contenedor de texto */
.aboutTextContainer {
  flex: 1.5;
  max-width: 600px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.aboutTitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #A7A7A7;
}

.aboutText {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #D9D9D9;
}

/* Efecto de transici칩n con degradado */
.transitionFade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
 
}

/* Animaciones al hacer scroll */
.reveal {
  opacity: 1;
  transform: translateY(0);
}
}
.contactLink {
  color: #ecf1ef; /* Cambia este color a tu preferencia */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contactLink:hover {
  color: #ffcc00; /* Color al pasar el mouse */
  text-decoration: underline;
}
