/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f4b59;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la navbar */
.navbar-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos de los enlaces */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* Estilos para el botón hamburguesa (solo en móviles) */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block; /* Aparece solo en móviles */
  }

  .nav-links {
    display: none; /* Oculta los enlaces en móviles */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0f4b59;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-links.active {
    display: flex; /* Muestra los enlaces cuando se activa */
  }
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-black);
  text-align: center;
  padding: 15px 0;
  color: var(--color-secondary);
  font-size: 14px;
}
