/* components.css */

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-accent);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: var(--color-secondary);
  }
  
  /* Footer */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-black);
    text-align: center;
    padding: 15px 0;
    color: var(--color-secondary);
    font-size: 14px;
  }
  