/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Fondo transparente */
  backdrop-filter: blur(1px); /* Efecto de desenfoque */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Contenedor de la navbar */
.navbar-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el botón hamburguesa (visible en todas las pantallas) */
.navbar-toggle {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

.navbar-toggle:hover {
  color: #ffcc00;
}

/* Estilos del menú lateral */
.nav-links {
  display: none; /* Oculto por defecto */
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.95); /* Fondo oscuro semi-transparente */
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-links.active {
  display: block; /* Mostrar cuando está activo */
}

/* Encabezado del menú lateral (para el botón de cerrar) */
.nav-links-header {
  display: flex;
  justify-content: flex-end; /* Alinear a la derecha */
  padding: 1.5rem; /* Espaciado desde los bordes */
}

/* Estilos para el botón de cerrar */
.nav-links-close {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Añade un resplandor blanco suave */
}

.nav-links-close:hover {
  color: #ffcc00;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Resplandor más intenso al pasar el mouse */
}

/* Estilos para la lista de enlaces */
.nav-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado horizontal */
  justify-content: center; /* Centrado vertical */
  gap: 2rem; /* Espaciado entre enlaces */
  height: 80vh; /* Altura para centrar verticalmente */
  text-align: center; /* Asegurar centrado del texto */
  font-size: 1.5rem; /* Tamaño de texto similar al de la página de referencia */
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}
/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-black);
  text-align: center;
  padding: 15px 0;
  color: var(--color-secondary);
  font-size: 14px;
}
