.experienceSection {
    padding: 4rem 2rem;
    background-color: #151515; /* Puedes cambiar este color o usar un degradado */
    color: white;
    position: relative;
    border-radius: 20px; /* Bordes redondeados */
    min-height: auto;
    padding: 4rem 1rem; /* Reduce espacios excesivos */
    margin-bottom: clamp(2rem, 5vh, 4rem); /* Margen dinámico */
  }
  
  .sectionTitle {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
    
  }
  
  .timeline {
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 800px;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ffcc00;
  }
  
  .timelineItem {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 60px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 0.8s ease-out forwards;
  }
  
  .timelineItem:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .timelineItem:nth-child(2) {
    animation-delay: 0.4s;
  }

  .timelineItem:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .timelineItem::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    width: 16px;
    height: 16px;
    background: #1e3341;
    border: 4px solid #ffcc00;
    border-radius: 50%;
  }
  
  .timelineContent {
    background: #1e3341;
    padding: 1rem 1.5rem;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
  }
  
  /* Efecto de zoom al pasar el mouse */
  .timelineContent:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  }

  .period {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .company {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #a7a7a7;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.5;
    color: #d9d9d9;
  }

  /* Animación de aparición al scrolear */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  