:root {
  --background: transparent; /* Permite que las secciones manejen su propio fondo */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent; /* También transparente en modo oscuro */
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh; /* Asegura que cubra toda la pantalla */
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #061118, #0f4b59); /* Degradado en toda la página */
  background-attachment: fixed; /* Mantiene el degradado fijo */
  background-size: cover; /* Asegura que cubra todo el fondo */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
