.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background: transparent; /* Para que usen el fondo global */
  color: #FFFFFF; /* Color del texto */
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  

  /* Ajuste responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  }
  
  .title {
    font-size: 3rem;
    margin: 0;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}