/* theme.css */

/* Variables de colores */
:root {
    --color-primary: #0C0C0C;
    --color-secondary: #A7A7A7;
    --color-accent: #1A2F2A;
    --color-dark: #002410;
    --color-gray: #606060;
    --color-black: #151515;
  
    --font-main: 'Geist', sans-serif;
  }
  
  /* Estilos generales */
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background: linear-gradient(to bottom, #061118, #0f4b59); /* Aplica el degradado */
    background-attachment: fixed; /* Fija el degradado en la pantalla */
    background-size: cover; /* Asegura que cubra todo */
    color: white;
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  